    .dashboard-item {
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        max-height: 160px;
    }
    
    .background-pic {
        grid-row: 1/4;
        grid-column: 1/2;
    }
    .dashboard-item-text {
        grid-row: 3/9;
        grid-column: 1/2;
    }
    
    /* background pic */
    .background-pic {
        border-radius: 15px;
        display: flex;
        justify-content: flex-end;
        align-content: flex-start;
        overflow: hidden;
    }
    .background-pic img {
        margin-top: -10px;
        margin-right: 1rem;
        width: 78px;
        height: 78px;
    }
    
    .dashboard-item:nth-of-type(1) > .background-pic {
        background-color: var(--soft-orange);
    }
    .dashboard-item:nth-of-type(2) > .background-pic {
        background-color: #55c2e6;
    }
    .dashboard-item:nth-of-type(3) > .background-pic {
        background-color: var(--light-red-study);
    }
    .dashboard-item:nth-of-type(4) > .background-pic {
        background-color: #4bcf82;
    }
    .dashboard-item:nth-of-type(5) > .background-pic {
        background-color: #7335d2;
    }
    .dashboard-item:nth-of-type(6) > .background-pic {
        background-color: #f1c75b;
    }
    
    /* dashboard item-main */
    .dashboard-item-text {
        background-color: var(--dark-blue);
        padding: 1.75rem 1.5rem;
        border-radius: 15px;
    }
    .dashboard-item-text h2 {
        font-size: inherit;
        font-weight: 500;
    }
    .dashboard-item-text .flex-top,
    .dashboard-item-text .flex-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .dashboard-item-text h3 {
        font-size: 2rem;
        font-weight: 300;
        transition: all 0.3s ease;
    }
    .dashboard-item-text p {
        font-size: 15px;
        color: var(--soft-blue);
    }
    
    @media (min-width: 950px) {
        .dashboard-item {
        max-height: none;
        grid-template-rows: repeat(10, 1fr);
        }
        /*component layout  */
        .name-card {
        grid-row: 1/8;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2.5rem;
        }
    
        .time-options-container {
        grid-row: 6/11;
        justify-content: flex-start;
        }
    
        .time-options-container ul {
        flex-direction: column;
        align-items: flex-start;
        /* gap: 0; */
        }
    
        .background-pic {
        grid-row: 1/5;
        grid-column: 1/2;
        }
        .dashboard-item-text {
        grid-row: 3/11;
        grid-column: 1/2;
        gap: 1.5rem;
        }
        .dashboard-item-text .flex-bottom {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        /* margin-top: 1.5rem; */
        }
    
        /* TYPEOGRAPHY */
    
        .dashboard-item-text h3 {
        font-size: 3.5rem;
        }
    }